*.mp4

runs/*
videos/*
wandb/*

model/*
figures/*

*.pt

*.csv
*.xlsx
*.pyc

data/*
adaptkan/data/*
adaptkan/figures/*

*.log
*.bib
.DS_Store

archive/*

jax_profiling
jax_profiling_mlp
jax_profiling_adaptkan

*.npy
*.db

checkpoints

logs*
old_logs*
results/
